MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=password
MONGO_URL=mongodb://admin:password@db_mongo:27017/

MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=blog_db
MYSQL_USER=user_api
MYSQL_PASSWORD=password_user_api

API_PORT=8000